on:
  push:
    tags:
      - "v*"

name: Upload Binary to Release
jobs:
  build:
    permissions: write-all
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Odin Environment
        uses: laytan/setup-odin@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release: false
          branch: master
          llvm-version: 18
          build-type: debug
          repository: https://github.com/odin-lang/Odin


      - name: Build Binaries
        shell: bash
        run: |
          mkdir -p bin

          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            make OPTIMIZATION=aggressive \
                 TARGET=bin/tscout-linux-amd64.bin \
                 PLATFORM=linux_amd64
            sha256sum bin/tscout-linux-amd64.bin > bin/tscout-linux-amd64.sha256
          else
            make OPTIMIZATION=aggressive \
                 TARGET=bin/tscout-windows-amd64.exe \
                 PLATFORM=windows_amd64
            sha256sum bin/tscout-windows-amd64.exe > bin/tscout-windows-amd64.sha256
          fi

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ matrix.os }}
          path: bin/*

  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: build
    permissions: write-all
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Publish Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            dist/**/*
